.container {
  margin-top: 100px;
  min-height: 80vh;
}

.delete {
  color: rgb(230, 27, 27);
  cursor: pointer;
  background: none;
  border: none;
}

.delete:hover {
  transform: scale(1.2);
  filter: brightness(110%);
}

.delete:active {
  transform: translate(0, 0.2rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}
